extends layout

block content
  h1 Tasks List
  
  each task in tasks
    ul.card
      li title : 
        span= task.title
      li text : 
        span= task.text
      li created at : 
        span= task.createAt
      li dead line date : 
        span= task.deadlineDate  
  