extends layout

block content
  h1 Users list
  
  each user in users
    ul.card
      li name : 
        span= user.name
      li email : 
        span= user.email
      li id : 
        span= user.id
      li password : 
        span= user.password
      
  
