body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: darkred;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  color:aliceblue;
}

a {
  color:aquamarine;
}

p {
  color:beige;
}

ul{
  list-style-type: none;
}

.card{
  width: 220px;
  border-style: inset;
  margin-top: 10px;
  padding: 10px;
}

.big-title{
  transform: scale(1, 1.5)
}

